* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5px;
  height: 95vh;
  background-color: rgba(15, 231, 231, 0.5);
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(233, 148, 44);
  padding: 2px 0 2px 0;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background-color: whitesmoke;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background-color: rgba(15, 231, 231, 0.5);
  font-family: sans-serif;
  text-align: center;
  color: aliceblue;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(254, 253, 252);
  padding: 2px 0 2px 0;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  background-color: rgb(76, 233, 44);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background-color: whitesmoke;
  padding: 4em 0 4em 0;
  flex: 5 5 150px;
}

.right {
  background-color: grey;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer {
  background-color: rgb(224, 103, 103);
  padding: 1em 0 1em 0;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 5em 0 5em 0;
  }
}
/* a partir de aqui imort*/
/* a partir de aqui imort*/
main {
  background-color: #f3f3f3;
}

.mainContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f3f3f3;
}

.linksMain {
  text-decoration: none;
  color: black;
}

.mainButton {
  display: inline;
  width: 35px;
  height: 20px;
  border-radius: 10px;
}

a:active {
  font-weight: 900;
}

.linksMain:hover {
  background-color: white;
  color: rgb(42, 87, 171);
  height: 15px;
  width: 20px;
  padding: 10px;
  border-radius: 10px;
}

.imagePost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

#imagenGrande {
  width: 70%;
}

#fotoPerfil {
  position: relative;
  height: 40px;
  border-radius: 50px;
}

.profilePicture {
  color: rgb(132, 126, 126);
  font-size: 15px;
}

.postTitle {
  display: flex;
  color: black;
  font-weight: bold;
  text-align: left;
}

.spanInfo {
  display: block;
  margin-left: 10px;
  align-items: center;
}

.singleTag {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.singleTag:hover {
  padding: 5px;
  border-radius: 7px;
}

.singleTag:visited {
  color: black;
}

.firstSpanLetter {
  color: pink;
}

#htmlTag:hover {
  background-color: rgb(243, 218, 185);
}

#webdev:hover {
  background-color: rgb(234, 233, 247);
}

#frontend:hover {
  background-color: rgb(245, 216, 221);
}

#begginers:hover {
  background-color: rgb(197, 229, 197);
}

.reactionContainer {
  display: flex;
  justify-content: center;
}

.reactions {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: -0.1rem;
}

.reactionContainer > span {
  color: black;
  font-size: 15px;
}

.reactions:visited {
  color: black;
}

.reactions:hover {
  padding: 3px;
  background-color: lightgrey;
  border-radius: 3px;
}

.comments {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.comments:visited {
  color: black;
}

.comments:hover {
  padding: 6px;
  background-color: lightgrey;
  border-radius: 3px;
}

.timeContainer {
  text-decoration: none;
}

.timeContainer > p {
  color: black;
  font-size: 15px;
}

.simplePostContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

footer {
  background-color: azure;
}

.pFooter {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  padding: 8px 15px;
  border: 0cap;
  justify-content: right;
  font-size: small;
  cursor: pointer;
}

.pFooter a {
  text-decoration: none;
}

.navegadorHeader {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.bloqueLogo {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 0px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bloqueSearch {
  margin: 10px;
  list-style: none;
  padding: 0;
  margin: 4px 2px 0px 5px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 400px;
  min-width: 350px;
}

.searchInput {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: medium;
  border-radius: 5px;
  border-color: rgba(77, 72, 72, 0.733);
  border-width: 1px;
}

.contenedorBoton1 {
  border-width: 1px;
  margin-right: 50px;
  justify-content: right;
}

.buttonCreateAccount {
  min-width: 150px;
  background-color: azure;
  border-color: rgb(59, 57, 223);
  width: auto;
  text-align: center;
  text-decoration: none;
  color: rgb(59, 57, 223);
  padding: 8px 15px;
  border-radius: 7px;
  justify-content: right;
  font-size: medium;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.buttonCreateAccount:hover {
  color: rgb(246, 243, 243);
  background-color: rgb(59, 57, 223);
  text-decoration: underline;
}

.contenedorBoton {
  margin-left: 50px;
  justify-content: right;
}

.buttonlogIn {
  background-color: rgba(253, 255, 255, 0);
  width: 75px;
  text-align: center;
  text-decoration: none;
  color: rgb(64, 64, 64);
  padding: 8px 15px;
  margin: 4px 2px 4px 0px;
  padding: 8px 15px;
  justify-content: right;
  font-size: medium;
  border: 0cap;
  cursor: pointer;
}

.buttonlogIn:hover {
  color: rgb(59, 57, 223);
  text-decoration: underline;
}

.divNave2 {
  width: 20%;
  margin: 0;
  background: rgba(5, 5, 5, 0);
}

.contenedorLupa {
  height: 100%;
  width: 30px;
}

.lupa {
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}

@media screen and (max-width: 3000px) {
  .divNave2 {
    width: 40%;
  }
  .bloqueSearch {
    min-width: 350px;
    align-items: center;
    margin: 0px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 2000px) {
  .divNave2 {
    width: 40%;
  }
}
@media screen and (max-width: 1440px) {
  .contenedorBoton {
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .contenedorBoton1 {
    border-width: 1px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .bloqueSearch {
    min-width: 350px;
    align-items: center;
    margin: 0px;
    margin-left: 20px;
  }
  .bloqueLogo {
    border-width: 1px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .divNave2 {
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  .contenedorBoton {
    min-width: 150px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .divNave2 {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .bloqueSearch {
    display: none;
  }
  .searchInput {
    display: none;
  }
  .contenedorBoton {
    display: none;
  }
  .buttonlogIn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .bloqueSearch {
    display: none;
  }
  .searchInput {
    display: none;
  }
  .contenedorBoton {
    display: none;
  }
  .buttonlogIn {
    display: none;
  }
  .contenedorLupa {
    margin-right: 150;
  }
}
@media screen and (max-width: 0px) {
  .bloqueSearch {
    display: none;
  }
  .searchInput {
    display: none;
  }
  .contenedorBoton {
    display: none;
  }
  .buttonlogIn {
    display: none;
  }
  .contenedorBoton1 {
    border-width: 1px;
    margin-right: 1px;
  }
  /*  .contenedorLupa{
     display: none;  

   }

   .lupa {
     display: none; 
   }*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.asideLeft {
  position: relative;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", "Roboto";
  display: block;
  height: 100%;
  width: 20%;
  background-color: #efefef;
  padding: 20px;
  color: black;
}

.trending_box {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid black;
}

.recently_box {
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.discuss_box,
.watercooler_box {
  background-color: rgb(248, 248, 248);
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.watercooler_art {
  text-align: start;
  border-bottom: 1px solid black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linkWater {
  padding: 10px;
}

.subtitle {
  text-align: start;
}

a {
  font-family: system-ui, "Segoe UI", "Roboto";
  font-weight: 470;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 16px;
  text-align: start;
}

h4,
h3 {
  font-size: 14px;
  padding: 8px 0px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .asideLeft {
    visibility: hidden;
  }
}
@media only screen and (min-width: 600px) {
  .asideLeft {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .asideLeft {
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px) {
  .asideLeft {
    visibility: hidden;
  }
}
@media only screen and (min-width: 1300px) {
  .asideLeft {
    visibility: visible;
  }
}
.left {
  background-color: #fff;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.asideizquierdo {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  justify-content: flex-start;
  margin-top: -60px;
  min-height: 200px;
  margin-bottom: 50px;
  padding: 8px;
}

.asideizquierdo2 {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  justify-content: flex-start;
  margin-top: 50px;
  height: 100px;
  max-height: 200px;
}

.asideizquierdo .titulo {
  color: black;
}

.parrafo {
  color: black;
  font-size: 18px;
}

.anclas {
  border: 1px solid lightblue;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px;
}

.anclashover:hover {
  border: 1px solid #3b49df;
  font-size: 14px;
  padding: 8px;
  background-color: #3b49df;
  color: aqua;
  border-radius: 10px;
}

.anclashover {
  border: 1px solid lightblue;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px;
}

.listaiconitos {
  list-style: none;
  width: 100%;
}
.listaiconitos .alineado {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
}
.listaiconitos span {
  font-size: 20px;
}

.segundonav {
  margin-top: 30px;
}

.listaiconitos2 {
  list-style: none;
  width: 100%;
}
.listaiconitos2 .alineado {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px;
}

.reducir {
  width: 20px;
  height: 20px;
}

.scrollable-list {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}

.scrollable-list ul {
  list-style-type: none;
  padding: 0;
}

.scrollable-list ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
@media all and (max-width: 550px) {
  .scrollable-list ul li .left {
    display: none;
  }
  .scrollable-list ul li .asideizquierdo {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */