* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background-color: rgba(15, 231, 231, 0.5);
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(233, 148, 44);
  padding: 2px 0 2px 0;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background-color: whitesmoke;
  padding: 4em 0 4em 0;
  flex: 5 5 150px;
}

.right {
  background-color: grey;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer {
  background-color: rgb(224, 103, 103);
  padding: 1em 0 1em 0;
}

/* a partir de aqui imort*/
footer {
  background-color: azure;
}

.pFooter {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  padding: 8px 15px;
  justify-content: right;
  font-size: small;
  border: 0cap;
  cursor: pointer;
}

.pFooter a {
  text-decoration: none;
}

main {
  background-color: #f3f3f3;
}

.mainContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f3f3f3;
}

.linksMain {
  text-decoration: none;
  color: black;
}

.mainButton {
  display: inline;
  height: 20px;
  width: 35px;
  border-radius: 10px;
}

a:active {
  font-weight: 900;
}

.linksMain:hover {
  background-color: white;
  color: rgb(42, 87, 171);
  height: 15px;
  width: 20px;
  padding: 10px;
  border-radius: 10px;
}

.imagePost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

#imagenGrande {
  width: 70%;
}

#fotoPerfil {
  position: relative;
  height: 40px;
  border-radius: 50px;
}

.profilePicture {
  color: rgb(132, 126, 126);
  font-size: 15px;
}

.postTitle {
  display: flex;
  color: black;
  font-weight: bold;
  text-align: left;
}

.spanInfo {
  display: block;
  margin-left: 10px;
  align-items: center;
}

.singleTag {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.singleTag:hover {
  padding: 5px;
  border-radius: 7px;
}

.singleTag:visited {
  color: black;
}

.firstSpanLetter {
  color: pink;
}

#htmlTag:hover {
  background-color: rgb(243, 218, 185);
}

#webdev:hover {
  background-color: rgb(234, 233, 247);
}

#frontend:hover {
  background-color: rgb(245, 216, 221);
}

#begginers:hover {
  background-color: rgb(197, 229, 197);
}

.reactionContainer {
  display: flex;
  justify-content: center;
}

.reactions {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: -0.1rem;
}

.reactionContainer > span {
  color: black;
  font-size: 15px;
}

.reactions:visited {
  color: black;
}

.reactions:hover {
  padding: 6px;
  background-color: lightgrey;
  border-radius: 3px;
}

.comments {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.comments:visited {
  color: black;
}

.comments:hover {
  padding: 6px;
  background-color: lightgrey;
  border-radius: 3px;
}

.timeContainer {
  text-decoration: none;
}

.timeContainer > p {
  color: black;
  font-size: 15px;
}

.simplePostContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

footer {
  background-color: azure;
}

.pFooter {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  padding: 8px 15px;
  border: 0cap;
  justify-content: right;
  font-size: small;
  cursor: pointer;
}

.pFooter a {
  text-decoration: none;
} /*# sourceMappingURL=main.css.map */

/*!mayra*/

.asideLeft {
  position: relative;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", "Roboto";
  display: block;
  height: 100%;
  width: 20%;
  background-color: #efefef;
  padding: 20px;
  color: black;
}

.trending_box {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid black;
}

.recently_box {
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

a {
  font-family: system-ui, "Segoe UI", "Roboto";
  font-weight: 470;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 16px;
  text-align: start;
}

a:hover {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  text-align: start;
  color: blue;
}

h4 {
  font-size: 14px;
  padding: 8px 0px;
  color: black;
}

/*! DEJEN LAS @MEDIA AL FINAL*/

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }
  .main {
    padding: 5em 0 5em 0;
  }

  .asideLeft {
    display: none;
  }
}
