
@media screen and (max-width: 768px) {

  .left {
    display: none;
  }
  .asideizquierdo {
    display: none;
  }
  .anclashover {
    display: none;
  }
 
}

@media screen and (max-width: 600px) {
  .left {
    display: none;
  }
  .asideizquierdo {
    display: none;
  }
  .anclashover {
    display: none;
  }
}

@media screen and (max-width: 0px) {
  .left {
    display: none;
  }
  .asideizquierdo {
    display: none;
  }
  .anclashover {
    display: none;
  }
}


