@media all and (max-width: 600px) {
  .left {
    display: none;
  }
  .asideizquierdo {
    display: none;
  }
  .anclashover {
    display: none;
  }
}

@media screen and (max-width: 3000px) {
  .left {
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 2000px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}

@media screen and (max-width: 1440px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}

@media screen and (max-width: 992px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}

@media screen and (max-width: 768px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}

@media screen and (max-width: 600px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}

@media screen and (max-width: 0px) {
  .left {
    margin-right: ;
    margin-left: ;
  }
}
