


@media screen and (max-width: 3000px) {
    .asideRight  {
      margin-right: 500px;
      margin-left: 10px;
    }
  }
  
  
  @media screen and (max-width: 2000px) {
    .asideRight .discuss_box {
      margin-right: 0px;
      margin-left: 10px;
  
    }
  }
  
  @media screen and (max-width: 1440px) {
    .asideRight {
      display:flex;
      margin-right: 350px;
      margin-left: 20px;
    }
  }




@media screen and (max-width: 1024px) {
    .asideRight {
      display: none;
      min-width: 300px;
    }
  
    .discuss_box{
      min-width: 150px;
    }
  }
  @media screen and (max-width: 600px) {
    .asideRight, .discuss_box {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .asideRight {
      visibility: visible;
    }
  }
  














/*

@media screen and (max-width: 3000px) {
  .left {
    margin-right: 500px;
    margin-left: 10px;
  }
}


@media screen and (max-width: 2000px) {
  .left {
    margin-right: 500px;
    margin-left: 10px;

  }
}

@media screen and (max-width: 1440px) {
  .left {
    margin-right: 500px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 992px) {
  .left {
    margin-right: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .left {
    margin-right: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 0px) {
}
@media all and (max-width: 600px) {
  .left {
    display: none;
  }
  .asideizquierdo {
    display: none;
  }
  .anclashover {
    display: none;
  }
}
*/