* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 5px;
  height: 95vh;
  background-color: rgba(15, 231, 231, 0.5);
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(233, 148, 44);
  padding: 2px 0 2px 0;
}
.main {
  display: flex;
  flex: 1;
}
.left {
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}
main {
  background-color: whitesmoke;

  padding: 4em 0 4em 0;
  flex: 5 5 150px;
}
.right {
  background-color: grey;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}
footer {
  background-color: rgb(224, 103, 103);
  padding: 1em 0 1em 0;
}

/* a partir de aqui imort*/

@import "featureFooter";
@import "featureMain";
@import "footer";
@import "Aside-left";
